@tailwind base;
@tailwind components;
@tailwind utilities;

/* Masquer la scrollbar horizontale sur mobile tout en gardant le scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}